﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<<<<<<< HEAD

=======
    
>>>>>>> d94bdf08d569498853e9846c144cf498d3bb8dff
<div class="row">
    <div class="col-md-3">
        <button type="button" class="btn btn-success" onclick="Create()">Create New</button>
        <div id="data" class="demo"></div>
    </div>
    <div class="col-md-9">
        <div class="row" style="margin-right: 5px;">
<<<<<<< HEAD
            <input type="hidden" id="keyid" value="" />
            <div class="col-md-4">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Title</label>
                    <input type="email" class="form-control" id="title">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Description</label>
                    <textarea class="form-control" id="Description" rows="10"></textarea>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <input type='file' id="file_img" />
                    <img id="myImg" src="#" alt="your image" height=150 width=300 />
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Link</label>
                    <input type="email" class="form-control" id="Link">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Status</label>
                    <select class="form-control" id="Status">
                        <option value="1">Publish</option>
                        <option value="2">Active</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">LinkType</label>
                    <select class="form-control" id="LinkType">
                        <option value="1">Photo</option>
                        <option value="2">Video</option>
                        <option value="3">Story</option>
                        <option value="4">Game</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Parent</label>
                    <select class="form-control" id="Parent">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" style="margin-right: 5px;float:right;">
            <button type="button" class="btn btn-primary" onclick="Save()">Save</button>
            <button type="button" class="btn btn-danger" onclick="Delete()">Delete</button>
        </div>
    </div>
</div>

=======
            <div class="col-md-4">
                <h3 id="titHeader">Create New</h3>
            </div>
        </div>
            <div class="row" style="margin-right: 5px;">
                <input type="hidden" id="keyid" value="" />
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Title</label>
                        <input type="email" class="form-control" id="title">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Link</label>
                        <input type="email" class="form-control" id="Link">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">LinkType</label>
                        <select class="form-control" id="LinkType">

                            <option value="1">Photo</option>
                            <option value="2">Video</option>
                            <option value="3">Story</option>
                            <option value="4">Game</option>
                            <option value="6">Multi Choice</option>
                            <option value="7">Menu</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Status</label>
                        <br />
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="rdoPublish" value="1" checked>
                            <label class="form-check-label" for="inlineRadio1">Publish</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="rdoActive" value="2">
                            <label class="form-check-label" for="inlineRadio2">Active</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Parent</label>
                        <select class="form-control" id="Parent">
                            <option value="-1">--Selected--</option>
                        </select>
                    </div>
                    <div class="form-group text-center">
                        @*<input type='file' id="file_img" />*@
                        <label for="exampleFormControlInput1">Url Image</label>
                        <input type="text" class="form-control" id="UrlImage" onchange="changeUrlImage()">
                        <img id="myImg" src="#" alt="your image" height=162 width=272 />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Description</label>
                        <textarea class="form-control" name="Description" id="Description"></textarea>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-right: 5px;float:right;">
                <button type="button" class="btn btn-primary" onclick="Save()">Save</button>
                <button type="button" class="btn btn-danger" onclick="Delete()">Delete</button>
            </div>
        </div>
    </div>

<script src="~/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.replace('Description');
</script>
>>>>>>> d94bdf08d569498853e9846c144cf498d3bb8dff
<script>

    //$.ajax({
    //    url: 'http://206.189.82.108:9119/Menu/GetData',
    //    type: 'GET',
    //    success: function (data) {
    //        alert('Data: ' + data);
    //    },
    //    error: function (request, error) {
    //        alert("Request: " + JSON.stringify(request));
    //    }
    //});
    //$.getJSON('http://locahost:44391/Menus/GetData', function (data) {
    //    console.log(data);
    //});
    function unflatten(arr) {
        var tree = [],
            mappedArr = {},
            arrElem,
            mappedElem;

        // First map the nodes of the array to an object -> create a hash table.
        for (var i = 0, len = arr.length; i < len; i++) {
            arrElem = arr[i];
            mappedArr[arrElem.id] = arrElem;
            mappedArr[arrElem.id]['children'] = [];
        }
        for (var id in mappedArr) {
                mappedElem = mappedArr[id];
                // If the element is not at the root level, add it to its parent array of children.
            if (mappedElem.parentId) {
                    mappedElem.icon = 'jstree-file';
                    mappedArr[mappedElem['parentId']]['children'].push(mappedElem);
                }
                // If the element is at the root level, add it to first level elements array.
                else {
                    tree.push(mappedElem);
                }
        }
        return tree;
    }
    $.getJSON('/Menus/GetData', function (data) {
        var htmlParent = '';
        var objArr = [];
<<<<<<< HEAD
=======
        
>>>>>>> d94bdf08d569498853e9846c144cf498d3bb8dff
        for (var i = 0; i < data.length; i++) {
            objArr.push({
                id: data[i].id, text: data[i].title, state: { opened: true }, children: [], parentId: data[i].parentId, avatar: data[i].icon,
                description: data[i].description, link: data[i].link, linktype: data[i].linkType, status: data[i].status
            })
            htmlParent += "<option value='" + data[i].id + "'>" + data[i].title + "</option>";
        }
<<<<<<< HEAD
        document.getElementById("Parent").innerHTML = htmlParent;
=======
        document.getElementById("Parent").innerHTML += htmlParent;
>>>>>>> d94bdf08d569498853e9846c144cf498d3bb8dff
        console.log(objArr)
        var objJson = unflatten(objArr);
        $('#data').jstree({
            'core': {
                'data': objJson
            }
        });
        $('#data')
            // listen for event
            .on('changed.jstree', function (e, data) {
                console.log(data.node)
                document.getElementById("keyid").value = data.node.original.id;
<<<<<<< HEAD
                document.getElementById("title").value = data.node.original.text;
                document.getElementById("Description").value = data.node.original.description;
                document.getElementById("Link").value = data.node.original.link;
                document.getElementById("myImg").src = data.node.original.avatar;
                document.getElementById("Status").value = data.node.original.status;
                document.getElementById("LinkType").value = data.node.original.linktype;
                document.getElementById("Parent").value = data.node.original.parentId;

=======
                document.getElementById("title").value = data.node.original.text;                
                CKEDITOR.instances['Description'].setData(data.node.original.description);
                document.getElementById("Link").value = data.node.original.link;
                document.getElementById("myImg").src = data.node.original.avatar;
                document.getElementById("UrlImage").value = data.node.original.avatar;
                //document.getElementById("Status").value = data.node.original.status;
                if (data.node.original.status == 1) {
                    document.getElementById("rdoPublish").checked = true;
                    document.getElementById("rdoActive").checked = false;
                }
                else if (data.node.original.status == 2) {
                    document.getElementById("rdoPublish").checked = false;
                    document.getElementById("rdoActive").checked = true;
                }
                document.getElementById("LinkType").value = data.node.original.linktype;
                console.log(data.node.original.parentId)
                if (data.node.original.parentId) {                    
                    document.getElementById("Parent").value = data.node.original.parentId;
                }
                else {
                    document.getElementById("Parent").value = -1;
                }
                document.getElementById("titHeader").innerHTML = 'Update';       
>>>>>>> d94bdf08d569498853e9846c144cf498d3bb8dff
                //var i, j, r = [];
                //for (i = 0, j = data.selected.length; i < j; i++) {
                //    r.push(data.instance.get_node(data.selected[i]).text);
                //}
                //$('#event_result').html('Selected: ' + r.join(', '));
            })
            // create the instance
            .jstree();
    });
    function Create() {
        document.getElementById("keyid").value = '';
<<<<<<< HEAD
        document.getElementById("title").value = '';
        document.getElementById("Description").value = '';
        document.getElementById("Link").value = '';
        document.getElementById("myImg").src = '';
        document.getElementById("file_img").value = '';
    }
    function Save() {

    }
    function Delete() {

    }
    //
    window.addEventListener('load', function () {
        document.querySelector('input[type="file"]').addEventListener('change', function () {
            if (this.files && this.files[0]) {
                var img = document.querySelector('img');  // $('img')[0]
                img.src = URL.createObjectURL(this.files[0]); // set src to blob url
                img.onload = imageIsLoaded;
            }
        });
    });

    function imageIsLoaded() {
        document.getElementById("myImg").src = this.src;
    }
=======
        document.getElementById("title").value = '';        
        CKEDITOR.instances['Description'].setData('');
        document.getElementById("Link").value = '';
        document.getElementById("myImg").src = '';
        document.getElementById("UrlImage").value = '';        
        //document.getElementById("file_img").value = '';        
        document.getElementById("Parent").value = -1;
        document.getElementById("rdoPublish").checked = true;
        document.getElementById("rdoActive").checked = false;
        document.getElementById("titHeader").innerHTML = 'Create New';       
    }
    function Save() {        
        var statusChecked;
        if (document.getElementById("rdoPublish").checked == true)
            statusChecked = 1;
        else if (document.getElementById("rdoActive").checked == true)
            statusChecked = 2;
        var obj = {
            description: CKEDITOR.instances['Description'].getData(''),
            icon: document.getElementById("myImg").src,
            id: document.getElementById("keyid").value,
            link: document.getElementById("Link").value,
            linkType: document.getElementById("LinkType").value,        
            parentId: document.getElementById("Parent").value,
            status: statusChecked,
            title: document.getElementById("title").value
        }
        $.post("/Menus/PostData", obj, function (data) {
            alert(data);
            //location.reload();
        });    
    }
    function Delete() {
        var id = document.getElementById("keyid").value;
        if (id.length == 0) {
            alert('Chọn 1 danh mục để xóa');
        }
        else {
            $.get("/Menus/DeleteData?id=" + id, function (data) {
                alert(data);
                location.reload();
            });   
        } 
    }
    //
    function changeUrlImage() {
        document.getElementById("myImg").src = document.getElementById("UrlImage").value;
    }
    //window.addEventListener('load', function () {
    //    document.querySelector('input[type="file"]').addEventListener('change', function () {
    //        if (this.files && this.files[0]) {
    //            var img = document.querySelector('img');  // $('img')[0]
    //            img.src = URL.createObjectURL(this.files[0]); // set src to blob url
    //            img.onload = imageIsLoaded;
    //        }
    //    });
    //});

    //function imageIsLoaded() {
    //    document.getElementById("myImg").src = this.src;
    //}
>>>>>>> d94bdf08d569498853e9846c144cf498d3bb8dff
    //
</script>

