﻿@using KidInteractiveAdmin.Helper;
@model List<DataAccessLibrary.Models.MultiChoice>;
@{
    ViewData["Title"] = "MultichoiceIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var count = 0;
}
    <div class="container">
        <h1>Câu hỏi trắc nghiệm</h1>
        <button class="button" id="add_multichoice">Thêm mới</button>
        @if (Model != null)
        {
            <table class="table table-head-fixed text-nowrap" id="multi_table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tiêu đề</th>
                        <th>Chủ đề</th>
                        <th>Tổng số câu hỏi</th>
                        <th>Thao tác</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td>@item.Topic</td>
                            <td>@item.Category</td>
                            <td>@ModelHelper.GetTongCauHoi((int)item.Id)</td>
                            <td>
                                @*<a href="javascript:void(0)" class="modify" data-id="@item.Id">DS Câu hỏi</a><br />*@
                                <a href="javascript:void(0)" class="modify" data-id="@item.Id">Chỉnh sửa</a><br />
                                <a href="javascript:void(0)" class="delete" data-id="@item.Id">Xóa</a>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>

        }
    </div>


